<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="" class="me.cherepanov.spring.dao.QuestionsPoolCSVReader">-->
    <!--    </bean>-->

    <bean id="questionPoolDao" class="me.cherepanov.spring.dao.QuestionsPoolCSVReader">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>

    <bean id="questionsService" class="me.cherepanov.spring.service.QuestionsServiceImpl">
        <constructor-arg index="0" ref="questionPoolDao"/>
    </bean>


    <bean id="printService" class="me.cherepanov.spring.service.PrintConsoleService">
        <constructor-arg index="0" ref="questionsService"/>
    </bean>

</beans>
